<h1><%= @flat.title %></h1>
<p><%= @flat.description %></p>
<p><%= @flat.address %></p>
<p><%= @flat.flat_code %></p>
<p>-------------</p>
<h1>Évènements du jour</h1>
<p>-------------</p>
<% @events.each do |event| %>
  <%= link_to event_path(event) do %>
    <p><%= event.title %></p>
  <% end %>
<% end %>
<p>-------------</p>
<p><%= link_to 'Nouvel évènement', new_event_path %></p>
<p>-------------</p>
<h1>Notes</h1>
<p>-------------</p>
<% @notes.each do |note| %>
  <%= link_to note_path(note) do %>
    <p><%= note.content.truncate(40) %></p>
  <% end %>
<% end %>
<p>-------------</p>
<p><%= link_to 'Nouvelle note', new_note_path %></p>
<p>-------------</p>
<p><%= link_to 'Home', root_url %></p>
