<div class="navbar navbar-light navbar-lewagon">
  <ul class="navbar-nav flex-row m-auto">
    <% if user_signed_in? %>
      <li class="nav-item <%= "active" if current_page?(flat_path(current_user.flat)) %>">
        <%= link_to flat_path(current_user.flat), class: "nav-link" do %>
          <i class="fas fa-home"></i>
        <% end %>
      </li>
      <li class="nav-item <%= "active" if current_page?(flat_calendar_path(current_user.flat)) %>">
        <%= link_to flat_calendar_path(current_user.flat), class: "nav-link" do %>
          <i class="fas fa-calendar-alt"></i>
        <% end %>
      </li>
      <li class="nav-item <%= "active" if current_page?(notes_path) %>">
        <%= link_to notes_path, class: "nav-link" do %>
          <i class="fas fa-envelope-open-text"></i>
        <% end %>
      </li>
      <li class="nav-item <%= "active" if current_page?(user_path(current_user)) %>">
        <%= link_to user_path(current_user), class: "nav-link" do %>
          <i class="fas fa-user-circle"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
